@charset "UTF-8";

/* --- CORES DO PROJETO ---

#0D0D0D - Cinza Escuro
#1C8C58 - Verde Escuro
#1BBF72 - Verde Claro
#9BF2D2 - Cinza Claro
#400E20 - Vinho

*/

/* MOBILE FIRST */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --corfundo: #400E20;
    --cor002: #0D0D0D;
    --cor003: #1C8C58;
    --cor004: #1BBF72;
    --cor005: #9BF2D2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body, html {
    background-color: #400E20;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#telalogin {
    position: absolute;
    background-color: var(--cor002);
    color: white;
    width: 350px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.507);
    border-radius: 20px;
    overflow: hidden;

    transition: width 0.7s, height 0.7s;
    transition-timing-function: ease;
}

div#imagem {
    display: block;
    background-image: url(../imagens/pexels-minan1398-1645232\ \(1\).jpg);
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 0px 0 0;
}

div#formulario {
    display: block;
    padding: 15px;
    color: white);
    padding-top: 15px;
}

div#formulario > h1 {
    text-align: center;
    padding-bottom: 5px;
    color: var(--cor003);
}

p#bemvindo {
    text-align: center;
    padding-bottom: 5px;
}

div#formulario > p {
    padding-top: 10px;
    font-size: 0.9em;
    text-indent: 5px;
    text-align: center;
}

form > div.campo {
    display: block;
    background-image: linear-gradient(to right,  #270913, transparent);
    width: 100%;
    height: 50px;
    margin: 10px 0px;
    border-radius: 5px;

} 

div.campo > label {
    display: none;
}



div.campo > i {
    font-size: 2em;
    width: 40px;
    padding: 9px;
}

div.campo > input {
    border-radius: 10px;
    background-color: transparent;
    border: none;
    font-size: 0.8em;
    height: 95%;
    width: calc(100% - 44px);
    transform: translateY(-12px);
    padding-left: 10px;
    color: white;
}

div.campo > input:focus-within {
    background-color: transparent;
    color: white;
}

div.campo > input:hover {
    color: white;
    background-color: #270913;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #2c0a16;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}

form > input[type=submit]:hover {
    background-color: #420f21;
    color: white;
    font-weight: bolder;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    cursor: pointer;
}

form > a.botao {
    display: block;
    color: white;
    text-align: center;
    font-size: 0.9em;
    text-decoration: none;
    padding-top: 20px;
}

form > a.botao:hover {
    color: var(--cor004);
    transition-duration: 0.4s;
    text-decoration: underline;
}

form > a.botao > i {
    font-size: 1.2em;
}


